@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    width: 50% auto;
    background: url(img1.jpg) no-repeat center center/cover;
}
.header{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    border: 1px solid rgb(2, 1, 1);
    padding: 8px 15px;
    border-radius: 15px;
    margin: 20px auto;
    background: rgb(214, 215, 216);
}
.main-content{
    width: 100%;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    padding: 50px 40px;
    box-shadow: 0 0 10px;
}
.main-content .text-area{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
}
.main-content .author{
    margin-top: 10px;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: rgb(255, 43, 6);
    font-weight: 400;
}
.button-area button{
    margin-top: 20px;
    background-color: black;
    color: whitesmoke;
    padding: 15px;
    border: 2px transparent;
    border-radius: 15px;
    position: absolute;
    left: 35%;
    bottom: 10%;
}
.container{
    width: 80%;
}
.main-content{
    background-color: #ffffff10;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}
h5{
    font-weight: 300;
}
@media(min-width:1030px){
    .button-area button{
        position: absolute;
        left: 50%;
        bottom: 10%;
    }
}